@use "../global/variables" as *;

.solid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  padding: 30px;
  background: #eeeeee;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: auto 1fr;
  }
}

.solid__title {
  margin: 0 0 10px;
}

.solid__image {
  @media (min-width: $tablet) {
    grid-column: 2;
    grid-row: span 3;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 1;
  }
}

.solid__text {
  @media (min-width: $desktop) {
    grid-column: span 2;
  }
}
