.solids {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solids__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}
