@use "../base/variables" as *;

.header {
  padding: 20px 0;
  background-color: #2d2d44;
  color: #ffffff;
}

.header__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo-image {
  width: 110px;
  height: 35px;

  @media (min-width: $tablet) {
    width: 313px;
    height: 50px;
  }
}

.header__title {
  font-size: 32px;
  text-align: center;
}
