@use "../base/variables" as *;

.main {
  flex: 1 0 auto;
}

.main__intro {
  margin: 20px 0 0;

  @media (min-width: $tablet) {
    margin-top: 40px;
  }
}

.main__types-solids {
  margin: 20px 0;

  @media (min-width: $tablet) {
    margin: 40px 0;
  }
}

.main__solids {
  margin: 20px 0;

  @media (min-width: $tablet) {
    margin: 40px 0;
  }
}
