<meta charset="UTF-8">
<meta content="width=device-width,user-scalable=yes,initial-scale=1,minimum-scale=1" name="viewport">
<link rel="icon" href="{{ path }}favicon.ico">
<link rel="icon" href="{{ path }}images/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ path }}images/favicons/apple.png">
<link rel="manifest" href="{{ path }}manifest.webmanifest">
<link rel="preload" href="{{ path }}fonts/Lato-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="{{ path }}fonts/Oswald-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="stylesheet" href="{{ path }}css/style.css">
