<header class="header">
  <div class="header__inner container">
    <div class="header__logo">
      <a class="header__logo-link" href="{{ path }}" aria-label="Home page">
        <picture>
          <source srcset="{{ path }}images/icons/logo-tablet.svg" media="(min-width: 768px)">
          <img class="header__logo-image" src="{{ path }}images/icons/logo.svg" width="110" height="35" alt="Encyclopedia Polyhedrons">
        </picture>
      </a>
    </div>
    <div></div>
    <nav class="navigation"></nav>
  </div>
</header>
