<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo-wrapper">
      <a class="footer__logo" href="/">
        <img src="images/icons/logo.svg" width="110" height="35" alt="Logo">
      </a>
    </div>
    <div class="footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--mail" href="mailto:nemtsevk@hotmail.com" target="_blank" rel="nofollow"  aria-label="My e-mail" title="My e-mail"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--telegram" href="https://t.me/nemtsev_k" target="_blank" rel="nofollow" aria-label="My Telegram profile" title="My Telegram profile"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--github" href="https://github.com/nemtsev-k" target="_blank" rel="nofollow" aria-label="My GitHub page" title="My GitHub page"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--site" href="http://nemtsevk.ru" target="_blank" rel="nofollow" aria-label="My Web-site" title="My Web-site"></a>
        </li>
      </ul>
    </div>
    <div class="footer__slogan">
      <p class="footer__slogan-text">Mathematics possesses not only truth, but supreme beauty – a&nbsp;beauty cold and austere.</p>
    </div>
  </div>
</footer>
