<meta charset="UTF-8">
<meta content="width=device-width,user-scalable=yes,initial-scale=1,minimum-scale=1" name="viewport">
<link rel="icon" href="favicon.ico">
<link rel="icon" href="images/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="images/favicons/apple.png">
<link rel="manifest" href="manifest.webmanifest">
<link rel="preload" href="fonts/Lato-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/Oswald-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
