@use "../base/variables" as *;

.solid {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.solid__content {
  position: relative;
  width: 100%;
}

.solid__canvas-wrapper {
  padding: 0 20px;
}

.solid__canvas {
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: move;
  }
}

.solid__title {
  margin: 10px 0 0;
  overflow-wrap: anywhere;
}

.solid__subtitle {
  margin: 10px 0 0;
}

.solid__characteristics {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 5px 0;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #cecece;
}

.solid__characteristics-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;

  &:last-child {
    grid-column: span 3;
  }
}

.solid__value {
  margin: 0;
}
