@use "../base/variables" as *;

.types-solids__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    gap: 40px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}
