<!DOCTYPE html>
{% set path = '' %}
<html class="page" lang="en">
<head>
  <title>Encyclopedia of Polyhedrons</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
{% include 'templates/_header.html' %}
<main class="main">
  <h1 class="visually-hidden">Encyclopedia Polyhedrons</h1>
  <section class="not-found">
    <img class="not-found__image" src="images/icons/404.svg" alt="">
    <h2 class="not-found__title title-h2">Страница не найдена</h2>
  </section>
</main>
{% include 'templates/_footer.html' %}
</body>
</html>
